services:
  db:
    image: postgres:16-alpine
    container_name: casino_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: casino_provider_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: casino_api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/casino_provider_db"
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma

volumes:
  pgdata:
